page-home {

    .content-md {
        background-color: rgba(0, 0, 0, 0.904);
    }

    .text-page {
        text-align: center;
        color: red;
    }

    .filmes-content {
        float: left;
        margin: 0;
        padding: 0;
    }

    [col-6] {
        padding: 0;
        float: left;
    }

    .card-md {
        margin: 0;
        border: 0;
        border-radius: none;
        width: calc(100% - 0px);
    }

    .card-background-page {

        background-color: black;

        ion-card {
          position: relative;
          text-align: center;
        }
      
    .card-title {
        position: absolute;
        top: 80%;
        font-size:0.8em;
        width: 100%;
        font-weight: bold;
        text-align: center;
        color: #fff;
    }
    }
}